// colors
$navigation-bg: #282c34;
$body-bg: #1a416a;
$font-color: #fff;
$active-link: #c2c2c2;
$product-card: #2f6cae;
$badge: #c700f9;
$backdrop: #000;

// screen size
$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;